<<<<<<< HEAD
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {{#link-to 'user.add'  }}Tambah Barang{{/link-to}}
    </ul>
  </div>
</nav>        
		
		<form style="margin-top: 5%">
=======
        <form style="margin-top: 5%">
>>>>>>> 2af68276764a7d42cb52b256c304a4c856753e1b
		    <center>
				<div class="form-group">Name : {{input value=model.name size="30" }}</div><br>
			    <div class="form-group">Value : {{input value=model.value size="30"}}</div><br>
			    <div>			    	
<<<<<<< HEAD
					 {{#link-to 'user.add' tagName='button' class="btn btn-success" }}Edit{{/link-to}}
=======
					 <button  class="btn btn-success" {{ action 'editUser' model.id}}> edit</button>
>>>>>>> 2af68276764a7d42cb52b256c304a4c856753e1b
			    </div>		
		    </center>    
		</form>