        <form style="margin-top: 5%">
		    <center>
				<div class="form-group">Name : {{input value=model.name size="30" }}</div><br>
			    <div class="form-group">Value : {{input value=model.value size="30"}}</div><br>
			    <div>			    	
					 <button  class="btn btn-success" {{ action 'editUser' model.id}}> edit</button>
			    </div>		
		    </center>    
		</form>