<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {{#link-to 'user.add'  }}Tambah Barang{{/link-to}}
    </ul>
  </div>
</nav>        
	<div class="container">	
		<form style="margin-top: 5%">
		    <center>
				<div class="form-group">Name : {{input value=model.name size="30" }}</div><br>
			    <div class="form-group">Value : {{input value=model.value size="30"}}</div><br>
			    <div>			    	
					 <button {{action "editUser" model.id}} type="submit" class="btn btn-success">Edit</button>
			    </div>		
		    </center>    
		</form>

	</div>	