<form>
    nama barang : {{input value=model.nama_barang required=true}} <br>
    stok : {{input value=model.stok required=true}} <br>
    <button type="submit" {{action 'updateBarang' model.id}} >Update</button>
    <button {{action 'cancel'}} >cancel</button>
</form>


