<table>
    <tr>
        <th>Kode barang</th>
        <th>Nama Barang</th>
        <th>Tanggal Masukan</th>
        <th>Action</th>
    </tr>
    {{#each model.barang as |barang|}}
    <tr>
        <td>Inv/dep/kat/{{barang.kode_barang}} </td>
        <td>{{barang.nama_barang}}</td>
        <td>{{format-date barang.created}}</td>
        <td>
        	{{#link-to 'barang.inputpinjam' item tagName='button' class="btn btn-warning" }}Pinjam{{/link-to}}
        </td>
    </tr>
    {{/each}}
</table>